{% if site.members %}

<h4 class="text-center" id='Members'>Executive Committees (Ordered in surnames)</h4>
<hr>
<div class="row row-cols-1 row-cols-md-3 mx-5">

{%- for member in site.members -%}
  <div class="col">
    <div class="card mb-4 mx-2">
      <!--Card image-->
      <div class="view overlay text-center">
        <img class="rounded-circle mt-3 avatar" src="../../assets/img/CAO, Miao.jpg" alt="Card image cap">
        <a href="#!"><div class="mask rgba-white-slight"></div></a>
      </div>
      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>CAO, Miao</strong></h4>
        <hr>
        <!-- Subtitle -->
        <p class="card-text text-primary "><strong class="text-primary">Post-doc, School of Physics, Peking University</strong></p>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading0">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#flush-collapse0" aria-expanded="false" aria-controls="flush-collapse0"><p class="card-text mx-auto">Clinical Neuroscience, dynamical models, neuroimaging</p></button>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- if network[0] == "rss" and network[1] and site.rss-description -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
  {%- endif -%}
{% endfor %}

</div>

{% endif %}
